canvas {
	  z-index: 0;
}

@font-face {
    font-family: "BodoniHighlight";
    src: url("../fonts/BodoniHighlight.ttf");
}

#player-chat { list-style-type: none; margin: 0; padding: 0; overflow: auto; background: #333333; color: #ffffff}
#player-chat > li { padding: 0.5rem 1rem; }
#game-log { list-style-type: none; margin: 0; padding: 0; overflow: auto; background: #333333; color: #ffffff}
#game-log > li { padding: 0.5rem 1rem; }
#game-log > li:nth-child(odd) { background: #575757; }
